aiohttp @ file:///C:/ci/aiohttp_1646806581161/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
autocorrect==2.6.1
backports.csv==1.0.7
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650293028159/work
Bottleneck @ file:///C:/ci/bottleneck_1648029530934/work
brotlipy==0.7.0
certifi==2022.5.18.1
cffi @ file:///C:/ci_310/cffi_1643036627027/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cheroot==8.6.0
CherryPy==18.6.1
click @ file:///C:/ci/click_1646056762388/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cryptography @ file:///C:/ci/cryptography_1652101729823/work
dnspython==1.16.0
docopt==0.6.2
elasticsearch @ file:///tmp/build/80754af9/elasticsearch_1625769069476/work
email-validator @ file:///tmp/build/80754af9/email-validator_1623674793554/work
feedparser==6.0.10
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
Flask-SQLAlchemy @ file:///tmp/build/80754af9/flask-sqlalchemy_1616180561581/work
Flask-WTF @ file:///tmp/build/80754af9/flask-wtf_1622018667443/work
frozenlist @ file:///C:/ci_310/frozenlist_1642081127310/work
future==0.18.2
greenlet @ file:///C:/ci_310/greenlet_1642081533872/work
gunicorn==20.1.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jaraco.classes==3.2.1
jaraco.collections==3.5.1
jaraco.context==4.1.1
jaraco.functools==3.5.0
jaraco.text==3.7.0
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
lxml==4.8.0
MarkupSafe @ file:///C:/ci_310/markupsafe_1642084045935/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci_310/mkl_random_1643050563308/work
mkl-service==2.4.0
more-itertools==8.13.0
multidict @ file:///C:/ci_310/multidict_1642084365325/work
mysqlclient==2.1.0
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
num2words==0.5.10
numexpr @ file:///C:/ci_310/numexpr_1642084889105/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1652784037925/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas @ file:///C:/ci/pandas_1650373461903/work
Pattern==3.6
pdfminer.six==20220524
portend==3.1.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-docx==0.8.11
pytz==2021.3
rank-bm25==0.2.2
regex @ file:///C:/ci/regex_1648429714499/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
scikit-learn @ file:///C:/ci_310/scikit-learn_1642249118560/work
scipy @ file:///C:/ci_310/scipy_1642247684282/work
sgmllib3k==1.0.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1647599976408/work
tempora==5.0.1
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tqdm @ file:///C:/ci/tqdm_1650618044857/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3 @ file:///C:/ci/urllib3_1650621844306/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wincertstore==0.2
WTForms @ file:///Users/ktietz/demo/mc3/conda-bld/wtforms_1629354749392/work
yarl @ file:///C:/ci_310/yarl_1642113522014/work
zc.lockfile==2.0
